body{
  background-color: black;
  color: white;
}
.navbar{
  align-content: right;
}

.header{
  display: inline-block;
  background-color: purple;
}
.features{
  text-align: center;
  align-content: center;
}
.card{
  color: black;
}

.why-we-are{
  text-align: left;
}

.features img{
  width: 50px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
